.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.label {
    margin-bottom: 5px;
    color: black;
}

.input-email,
.input-password {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button-send {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.button-send:hover {
    background-color: #45a049;
}