:root {

    /* Colors */
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #6c757d;
    --gray-dark-color: #343a40;

    /* Spacing */
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 1rem;
    --spacing-4: 1.5rem;
    --spacing-5: 3rem;

    /* Breakpoints */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    /* Typography */
    --font-size-base: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-md: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-xs: 0.75rem;

    /* Font weight */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Line height */
    --line-height-base: 1.5;

    /* Border radius */
    --border-radius: 0.25rem;

    /* Transition */
    --transition: all 0.3s ease;

    /*navbar height*/
    --navbar-height: auto;

    /*sidebar width*/
    --sidebar-width: 100px;

}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

.global__loader___ENU1b {
    color: yellow;
}
.navigation-bar__container___bR77d {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--spacing-2);
    background-color: #f8f9fa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 100%;
    gap: var(--spacing-2)
}

.navigation-bar__container___bR77d img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.navigation-bar__container___bR77d p {
    font-size: var(--font-size-md);
    font-weight: 500;
    color: var(--color-text);
}
aside.sidebar-menu__sidebar-menu___Iab29 {
    background-color: rgba(76, 175, 80, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    height: 100%;
}

aside.sidebar-menu__sidebar-menu___Iab29 > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: var(--spacing-2);
    height: 100%;
    gap: var(--spacing-1);
    padding-top: 50px;
}

aside.sidebar-menu__sidebar-menu___Iab29 > ul > li {
    list-style: none;
    width: 100%;
    transition: var(--transition);
}

aside.sidebar-menu__sidebar-menu___Iab29 > ul > li > button {
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}

.sidebar-menu__active___lty4I,
aside.sidebar-menu__sidebar-menu___Iab29 > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.dashboard-layout__container___HVcMF {
    display: grid;
    grid-template-areas: "sidebar navbar"
                        "sidebar main";
    grid-template-columns: minmax(var(--sidebar-width), auto) 1fr;
    grid-auto-rows: var(--navbar-height) 1fr;
    height: 100vh;
}

.dashboard-layout__sidebar___fzjL5 {
    grid-area: sidebar;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dashboard-layout__navbar___HU09G {
    grid-area: navbar;
}

.dashboard-layout__main___QZI5g {
    grid-area: main;
    padding: var(--spacing-3);
}

.login-form__form___bB5Rm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form__label___AgjZG {
    margin-bottom: 5px;
    color: black;
}

.login-form__input-email___O3nUJ,
.login-form__input-password___HhgbT {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form__button-send___JlmM6 {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.login-form__button-send___JlmM6:hover {
    background-color: #45a049;
}
.home__visible___aELtZ {
    display: block;
}

.home__hidden___AkkWb {
    display: none;
}

.home__loader___HFUcP {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0); /* Esto significa que el texto se va a mostrar de 3 en 3 caracteres */
    animation: home__l4___oIpdA 1s steps(4) infinite;
}

.home__loader___HFUcP:before {
    content: "Cargando..."
}

@keyframes home__l4___oIpdA {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}
.reports__some-value___RqNE8 {
    color: red;
}
.settings__some-class___qpo07{
    color: red;
}
.users__page-title___tJxg4 {
    font-size: var(--font-size-base);
    color: var(--info-color);
    margin-bottom: 20px;
}

.users__hidden___jtqMf {
    display: none;
}

.users__loader___Piosb {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0); /* Esto significa que el texto se va a mostrar de 3 en 3 caracteres */
    animation: users__l4___t6mPb 1s steps(4) infinite;
}

.users__loader___Piosb:before {
    content: "Cargando..."
}

@keyframes users__l4___t6mPb {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}

.users__user-info___pqMtM {
    margin-top: 20px;
}

.users__user-table___GIv61, .users__user-details-table___oZ7hJ {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.users__user-table___GIv61 th, .users__user-table___GIv61 td, .users__user-details-table___oZ7hJ th, .users__user-details-table___oZ7hJ td {
    border: 1px solid #ddd;
    padding: 8px;
}

.users__user-table___GIv61 th, .users__user-details-table___oZ7hJ th {
    background-color: var(--info-color);
    color: white;
}

.users__user-table___GIv61 tr:nth-child(even), .users__user-details-table___oZ7hJ tr:nth-child(even) {
    background-color: #f2f2f2;
}

.users__user-table___GIv61 tr:hover, .users__user-details-table___oZ7hJ tr:hover {
    background-color: #ddd;
}

.users__user-table___GIv61 th, .users__user-details-table___oZ7hJ th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.users__btn-see-more___uDxV_ {
    background-color: var(--info-color);
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.users__btn-see-more___uDxV_:hover {
    background-color: darken(var(--info-color), 10%);
}

.forum__container___GOWay {
    max-width: 1200px;
    padding: 0 15px;
}

.forum__bg-red___FMJ8t {
    background-color: red;
}

.forum__bg-green____5G2O {
    background-color: green;
}
.register__my-div___xBouB {
    background-color: red;
}

.register__my-border___qhcEP {
    border: 1px solid black;
}
/*class selector*/
.profile__class-example___NPEBT {
    background-color: green;
}
/*id selector*/
#profile__id-example___XYYRD {
    background-color: red;
}
/*element selector*/
/* div {
    background-color: rgba(91, 91, 197, 0.326);
} */
/*attribute selector*/
[type="text"] {
    /* background-color: yellow; */
}
/*pseudo-class selector*/
a:hover {
    background-color: pink;
}
/*pseudo-element selector*/
p::first-line {
    /* background-color: orange; */
}
/*grouping selector*/
.profile__class-example___NPEBT, #profile__id-example___XYYRD {
    background-color: purple;
}
/*descendant selector*/
div p {
    /* background-color: brown; */
}
/*child selector*/
div > p {
    /* background-color: black; */
}
/*adjacent sibling selector*/
div + p {
    background-color: white;
}
/*general sibling selector*/
div ~ p {
    background-color: gray;
}

/* 
Recordemos que los selectores de CSS se utilizan para seleccionar los elementos HTML a los que se les aplicarán 
los estilos. Los selectores de CSS se pueden dividir en cinco categorías: selectores simples, selectores de
atributos, selectores de pseudoclases, selectores de pseudoelementos y selectores combinados.

*/

.posts__title___FEmJT {
    color: red;
    font-weight: bolder;
    border: 1px solid black
}
/*!
 * Quill Editor v2.0.2
 * https://quilljs.com
 * Copyright (c) 2017-2024, Slab
 * Copyright (c) 2014, Jason Chen
 * Copyright (c) 2013, salesforce.com
 */
.ql-container{box-sizing:border-box;font-family:Helvetica,Arial,sans-serif;font-size:13px;height:100%;margin:0;position:relative}.ql-container.ql-disabled .ql-tooltip{visibility:hidden}.ql-container:not(.ql-disabled) li[data-list=checked] > .ql-ui,.ql-container:not(.ql-disabled) li[data-list=unchecked] > .ql-ui{cursor:pointer}.ql-clipboard{left:-100000px;height:1px;overflow-y:hidden;position:absolute;top:50%}.ql-clipboard p{margin:0;padding:0}.ql-editor{box-sizing:border-box;counter-reset:list-0 list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;line-height:1.42;height:100%;outline:none;overflow-y:auto;padding:12px 15px;tab-size:4;-moz-tab-size:4;text-align:left;white-space:pre-wrap;word-wrap:break-word}.ql-editor > *{cursor:text}.ql-editor p,.ql-editor ol,.ql-editor pre,.ql-editor blockquote,.ql-editor h1,.ql-editor h2,.ql-editor h3,.ql-editor h4,.ql-editor h5,.ql-editor h6{margin:0;padding:0}@supports (counter-set:none){.ql-editor p,.ql-editor h1,.ql-editor h2,.ql-editor h3,.ql-editor h4,.ql-editor h5,.ql-editor h6{counter-set:list-0 list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9}}@supports not (counter-set:none){.ql-editor p,.ql-editor h1,.ql-editor h2,.ql-editor h3,.ql-editor h4,.ql-editor h5,.ql-editor h6{counter-reset:list-0 list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9}}.ql-editor table{border-collapse:collapse}.ql-editor td{border:1px solid #000;padding:2px 5px}.ql-editor ol{padding-left:1.5em}.ql-editor li{list-style-type:none;padding-left:1.5em;position:relative}.ql-editor li > .ql-ui:before{display:inline-block;margin-left:-1.5em;margin-right:.3em;text-align:right;white-space:nowrap;width:1.2em}.ql-editor li[data-list=checked] > .ql-ui,.ql-editor li[data-list=unchecked] > .ql-ui{color:#777}.ql-editor li[data-list=bullet] > .ql-ui:before{content:'\2022'}.ql-editor li[data-list=checked] > .ql-ui:before{content:'\2611'}.ql-editor li[data-list=unchecked] > .ql-ui:before{content:'\2610'}@supports (counter-set:none){.ql-editor li[data-list]{counter-set:list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9}}@supports not (counter-set:none){.ql-editor li[data-list]{counter-reset:list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9}}.ql-editor li[data-list=ordered]{counter-increment:list-0}.ql-editor li[data-list=ordered] > .ql-ui:before{content:counter(list-0, decimal) '. '}.ql-editor li[data-list=ordered].ql-indent-1{counter-increment:list-1}.ql-editor li[data-list=ordered].ql-indent-1 > .ql-ui:before{content:counter(list-1, lower-alpha) '. '}@supports (counter-set:none){.ql-editor li[data-list].ql-indent-1{counter-set:list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9}}@supports not (counter-set:none){.ql-editor li[data-list].ql-indent-1{counter-reset:list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9}}.ql-editor li[data-list=ordered].ql-indent-2{counter-increment:list-2}.ql-editor li[data-list=ordered].ql-indent-2 > .ql-ui:before{content:counter(list-2, lower-roman) '. '}@supports (counter-set:none){.ql-editor li[data-list].ql-indent-2{counter-set:list-3 list-4 list-5 list-6 list-7 list-8 list-9}}@supports not (counter-set:none){.ql-editor li[data-list].ql-indent-2{counter-reset:list-3 list-4 list-5 list-6 list-7 list-8 list-9}}.ql-editor li[data-list=ordered].ql-indent-3{counter-increment:list-3}.ql-editor li[data-list=ordered].ql-indent-3 > .ql-ui:before{content:counter(list-3, decimal) '. '}@supports (counter-set:none){.ql-editor li[data-list].ql-indent-3{counter-set:list-4 list-5 list-6 list-7 list-8 list-9}}@supports not (counter-set:none){.ql-editor li[data-list].ql-indent-3{counter-reset:list-4 list-5 list-6 list-7 list-8 list-9}}.ql-editor li[data-list=ordered].ql-indent-4{counter-increment:list-4}.ql-editor li[data-list=ordered].ql-indent-4 > .ql-ui:before{content:counter(list-4, lower-alpha) '. '}@supports (counter-set:none){.ql-editor li[data-list].ql-indent-4{counter-set:list-5 list-6 list-7 list-8 list-9}}@supports not (counter-set:none){.ql-editor li[data-list].ql-indent-4{counter-reset:list-5 list-6 list-7 list-8 list-9}}.ql-editor li[data-list=ordered].ql-indent-5{counter-increment:list-5}.ql-editor li[data-list=ordered].ql-indent-5 > .ql-ui:before{content:counter(list-5, lower-roman) '. '}@supports (counter-set:none){.ql-editor li[data-list].ql-indent-5{counter-set:list-6 list-7 list-8 list-9}}@supports not (counter-set:none){.ql-editor li[data-list].ql-indent-5{counter-reset:list-6 list-7 list-8 list-9}}.ql-editor li[data-list=ordered].ql-indent-6{counter-increment:list-6}.ql-editor li[data-list=ordered].ql-indent-6 > .ql-ui:before{content:counter(list-6, decimal) '. '}@supports (counter-set:none){.ql-editor li[data-list].ql-indent-6{counter-set:list-7 list-8 list-9}}@supports not (counter-set:none){.ql-editor li[data-list].ql-indent-6{counter-reset:list-7 list-8 list-9}}.ql-editor li[data-list=ordered].ql-indent-7{counter-increment:list-7}.ql-editor li[data-list=ordered].ql-indent-7 > .ql-ui:before{content:counter(list-7, lower-alpha) '. '}@supports (counter-set:none){.ql-editor li[data-list].ql-indent-7{counter-set:list-8 list-9}}@supports not (counter-set:none){.ql-editor li[data-list].ql-indent-7{counter-reset:list-8 list-9}}.ql-editor li[data-list=ordered].ql-indent-8{counter-increment:list-8}.ql-editor li[data-list=ordered].ql-indent-8 > .ql-ui:before{content:counter(list-8, lower-roman) '. '}@supports (counter-set:none){.ql-editor li[data-list].ql-indent-8{counter-set:list-9}}@supports not (counter-set:none){.ql-editor li[data-list].ql-indent-8{counter-reset:list-9}}.ql-editor li[data-list=ordered].ql-indent-9{counter-increment:list-9}.ql-editor li[data-list=ordered].ql-indent-9 > .ql-ui:before{content:counter(list-9, decimal) '. '}.ql-editor .ql-indent-1:not(.ql-direction-rtl){padding-left:3em}.ql-editor li.ql-indent-1:not(.ql-direction-rtl){padding-left:4.5em}.ql-editor .ql-indent-1.ql-direction-rtl.ql-align-right{padding-right:3em}.ql-editor li.ql-indent-1.ql-direction-rtl.ql-align-right{padding-right:4.5em}.ql-editor .ql-indent-2:not(.ql-direction-rtl){padding-left:6em}.ql-editor li.ql-indent-2:not(.ql-direction-rtl){padding-left:7.5em}.ql-editor .ql-indent-2.ql-direction-rtl.ql-align-right{padding-right:6em}.ql-editor li.ql-indent-2.ql-direction-rtl.ql-align-right{padding-right:7.5em}.ql-editor .ql-indent-3:not(.ql-direction-rtl){padding-left:9em}.ql-editor li.ql-indent-3:not(.ql-direction-rtl){padding-left:10.5em}.ql-editor .ql-indent-3.ql-direction-rtl.ql-align-right{padding-right:9em}.ql-editor li.ql-indent-3.ql-direction-rtl.ql-align-right{padding-right:10.5em}.ql-editor .ql-indent-4:not(.ql-direction-rtl){padding-left:12em}.ql-editor li.ql-indent-4:not(.ql-direction-rtl){padding-left:13.5em}.ql-editor .ql-indent-4.ql-direction-rtl.ql-align-right{padding-right:12em}.ql-editor li.ql-indent-4.ql-direction-rtl.ql-align-right{padding-right:13.5em}.ql-editor .ql-indent-5:not(.ql-direction-rtl){padding-left:15em}.ql-editor li.ql-indent-5:not(.ql-direction-rtl){padding-left:16.5em}.ql-editor .ql-indent-5.ql-direction-rtl.ql-align-right{padding-right:15em}.ql-editor li.ql-indent-5.ql-direction-rtl.ql-align-right{padding-right:16.5em}.ql-editor .ql-indent-6:not(.ql-direction-rtl){padding-left:18em}.ql-editor li.ql-indent-6:not(.ql-direction-rtl){padding-left:19.5em}.ql-editor .ql-indent-6.ql-direction-rtl.ql-align-right{padding-right:18em}.ql-editor li.ql-indent-6.ql-direction-rtl.ql-align-right{padding-right:19.5em}.ql-editor .ql-indent-7:not(.ql-direction-rtl){padding-left:21em}.ql-editor li.ql-indent-7:not(.ql-direction-rtl){padding-left:22.5em}.ql-editor .ql-indent-7.ql-direction-rtl.ql-align-right{padding-right:21em}.ql-editor li.ql-indent-7.ql-direction-rtl.ql-align-right{padding-right:22.5em}.ql-editor .ql-indent-8:not(.ql-direction-rtl){padding-left:24em}.ql-editor li.ql-indent-8:not(.ql-direction-rtl){padding-left:25.5em}.ql-editor .ql-indent-8.ql-direction-rtl.ql-align-right{padding-right:24em}.ql-editor li.ql-indent-8.ql-direction-rtl.ql-align-right{padding-right:25.5em}.ql-editor .ql-indent-9:not(.ql-direction-rtl){padding-left:27em}.ql-editor li.ql-indent-9:not(.ql-direction-rtl){padding-left:28.5em}.ql-editor .ql-indent-9.ql-direction-rtl.ql-align-right{padding-right:27em}.ql-editor li.ql-indent-9.ql-direction-rtl.ql-align-right{padding-right:28.5em}.ql-editor li.ql-direction-rtl{padding-right:1.5em}.ql-editor li.ql-direction-rtl > .ql-ui:before{margin-left:.3em;margin-right:-1.5em;text-align:left}.ql-editor table{table-layout:fixed;width:100%}.ql-editor table td{outline:none}.ql-editor .ql-code-block-container{font-family:monospace}.ql-editor .ql-video{display:block;max-width:100%}.ql-editor .ql-video.ql-align-center{margin:0 auto}.ql-editor .ql-video.ql-align-right{margin:0 0 0 auto}.ql-editor .ql-bg-black{background-color:#000}.ql-editor .ql-bg-red{background-color:#e60000}.ql-editor .ql-bg-orange{background-color:#f90}.ql-editor .ql-bg-yellow{background-color:#ff0}.ql-editor .ql-bg-green{background-color:#008a00}.ql-editor .ql-bg-blue{background-color:#06c}.ql-editor .ql-bg-purple{background-color:#93f}.ql-editor .ql-color-white{color:#fff}.ql-editor .ql-color-red{color:#e60000}.ql-editor .ql-color-orange{color:#f90}.ql-editor .ql-color-yellow{color:#ff0}.ql-editor .ql-color-green{color:#008a00}.ql-editor .ql-color-blue{color:#06c}.ql-editor .ql-color-purple{color:#93f}.ql-editor .ql-font-serif{font-family:Georgia,Times New Roman,serif}.ql-editor .ql-font-monospace{font-family:Monaco,Courier New,monospace}.ql-editor .ql-size-small{font-size:.75em}.ql-editor .ql-size-large{font-size:1.5em}.ql-editor .ql-size-huge{font-size:2.5em}.ql-editor .ql-direction-rtl{direction:rtl;text-align:inherit}.ql-editor .ql-align-center{text-align:center}.ql-editor .ql-align-justify{text-align:justify}.ql-editor .ql-align-right{text-align:right}.ql-editor .ql-ui{position:absolute}.ql-editor.ql-blank::before{color:rgba(0,0,0,0.6);content:attr(data-placeholder);font-style:italic;left:15px;pointer-events:none;position:absolute;right:15px}
