aside.sidebar-menu {
    background-color: rgba(76, 175, 80, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    height: 100%;
}

aside.sidebar-menu > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: var(--spacing-2);
    height: 100%;
    gap: var(--spacing-1);
    padding-top: 50px;
}

aside.sidebar-menu > ul > li {
    list-style: none;
    width: 100%;
    transition: var(--transition);
}

aside.sidebar-menu > ul > li > button {
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}

.active,
aside.sidebar-menu > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}